.vscode
blueprints
pyscript
pyscript_modules
tts
home-assistant.log
home-assistant.log.1
home-assistant.log.fault
home-assistant_v2.db-wal
home-assistant_v2.db-shm
home-assistant_v2.db
custom_components
themes
ui_lovelace_minimalist
www